.Skills {
  text-align: right;
  .Category {
    margin-bottom: 0.75rem;

    h6 {
      font-weight: normal;
      font-style: oblique;
    }
    .Items {
      .Skill {
        background-color: #457b9d11;
        color: #1d3557cc;
        border: 1px solid #1d3557;
        margin: 0 0.1rem;
        @media (prefers-color-scheme: dark) {
          color: #f1faeedd;
          background-color: #457b9d44;
          border: 1px solid #f1faee44;
        }
      }
    }
  }
  @media (min-width: 576px) {
    h3 {
      font-weight: 600;
    }
  }
}