.Tournio {
  max-width: 800px;
  margin: 0 auto;

  .Title {
    max-width: 220px;
    margin: 0 auto 1rem;
  }

  .Carousel {
    width: 100%;
    margin: 0.5rem 0;

    .Screenshot {
      margin: 0 auto;
    }
  }

  @media (min-width: 576px) {
    .Title {
      max-width: 400px;
    }
    .Carousel {
      width: 60%;
      margin: 0 0 1rem 1rem;
    }
  }

  @media (min-width: 768px) {
    .Title {
      max-width: 400px;
    }
    .Carousel {
      width: 50%;
    }
  }
}
