.Websites {
  max-width: 800px;
  margin: 0 auto;

  .ExampleList {
    list-style: none;
    padding-left: 0;
    li {
      margin: 0.5rem 0;
    }
  }

  .Carousel {
    width: 100%;
    margin: 0.5rem 0 1rem;

    .Screenshot {
      margin: 0 auto;
    }
  }

  @media (min-width: 576px) {
    .Carousel {
      width: 60%;
      margin: 0 0 1rem 1rem;
    }
  }

  @media (min-width: 768px) {
    .Carousel {
      width: 50%;
    }
  }
}