.Skills {
  .Category {
    margin-bottom: 0.75rem;
    text-align: center;

    h6 {
      display: none;
    }
    .Items {
      .Skill {
        display: inline-block;
        margin: 0.2rem;
        padding: 0.25rem 0.5rem;
        line-height: 1rem;
        font-size: 75%;
        border: 1px dotted var(--stebleton-body-color);
        border-radius: var(--stebleton-border-radius-pill);
        font-weight: bold;
      }
    }
    .Salient {
      .Skill {
        line-height: 1.5rem;
        margin: 0.5rem 0.25rem;
      }
    }
  }
  @media (min-width: 576px) {
    text-align: right;
    h3 {
      font-weight: 600;
    }
    .Category {
      text-align: right;
      h6 {
        display: block;
        font-weight: normal;
        font-style: oblique;
      }
    }
  }
}
