.Header {
  padding-top: 0;

  .Name {
    height: 60px;
    
    h1 {
      background: url('/glasses60.png') 0% 0% no-repeat;
      text-indent: 80px;
      line-height: 60px;
    }
  }

  .Roles {
    list-style: none;
    padding: 0;
    font-size: 1rem;
    font-weight: 200;

    li {
      padding-right: 0.7rem;
      padding-left: 0.7rem;
      border-right: 1px solid #ccc;
    }
    li:first-child {
      padding-left: 0;
    }
    li:last-child {
      border-right: none;
      padding-right: 0;
    }
  }
}

@media (min-width: 576px) {
  .Header {
    .Name {
      height: 100px;

      h1 {
        background: url('/glasses.png') 0% 0% no-repeat;
        text-indent: 120px;
        line-height: 100px;
      }
    }

    .Roles {
      font-size: 1.25rem;

      li {
        padding-right: 1rem;
        padding-left: 1rem;
      }
    }
  }
}
