.Skills {
  .Period {
    margin-top: 0.5rem;
    h4 {
      margin-bottom: 0;
    }
    .Category {
      font-style: italic;
    }
    .Skill {
      margin-right: 0.25rem;
      margin-bottom: 0.25rem;
      font-weight: 300;
      font-size: 90%;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      border: 1px solid #bbb;
    }
  }
}

@media (min-width: 576px) {
  .Skills {
  }
}
