.PageHeader {
  .Name {
    h1 {
      margin: 0.25rem 0;
    }
  }
  .Roles {
    list-style: none;
    font-size: 1rem;
    font-weight: 200;
    padding-left: 0;
    margin-bottom: 0.5rem;

    li:after {
      font-family: 'Bootstrap-icons';
      content: '\F309';
    }
    li:last-child:after {
      color: transparent;
    }
  }
  .Seeking {
    display: none;
  }

  @media (min-width: 576px) {
    .Name {
      h1 {
        margin: 1rem 0;
      }
    }

    .Roles {
      font-size: 1.25rem;
      padding: 0.75rem 0;
      margin-bottom: 1rem;

      background-color: #a8dadc;
      @media (prefers-color-scheme: dark) {
        background-color: #457b9d;
        font-weight: 300;
      }

      li {
        padding-right: 0.7rem;
        padding-left: 0.7rem;
        border-right: 1px solid #1d3557;
        @media (prefers-color-scheme: dark) {
          border-right-color: #f1faeedd;
        }
      }
      li:after {
        content: none;
      }
      li:last-child {
        border-right: none;
      }
    }

    .Seeking {
      display: block;
      width: 80%;
      text-align: center;
      padding: 0.5rem;
      margin: 1rem auto;
      border: 1px solid;
      border-radius: 5px;

    }
  }
}