.Contact {
  ul {
    list-style: none;
    padding: 0;
    font-size: 0.9rem;
    .Code {
      font-family: "Anonymous Pro", monospace;
    }
    i {
      padding-right: 0.5rem;
      padding-left: 0;
    }
    .Link {
      color: #1d3557;
      border: 1px solid #1d3557;
      @media (prefers-color-scheme: dark) {
        border-color: #f1faeedd;
        color: #f1faeedd;
      }
      i {
        padding: 0;
      }
    }
  }
}

@media (min-width: 576px) {
  .Contact {
    text-align: right;

    h3 {
      font-weight: 600;
    }

    ul {
      font-size: 1rem;
      .Link {
        border: none;
      }
      i {
        padding-right: 0;
        padding-left: 0.5rem;
      }
    }
  }
}
