.Contact {
  ul {
    list-style: none;
    padding: 0;
    font-size: 1rem;
    .Link {
    }
    .Code {
      font-family: "Anonymous Pro", monospace;
    }
    i {
      padding-right: 0.5rem;
      padding-left: 0;
    }
  }
}

@media (min-width: 576px) {
  .Contact {
    text-align: right;

    h3 {
      font-weight: 600;
    }

    i {
      padding-right: 0;
      padding-left: 0.5rem;
    }
  }
}
