.Experience {
  .Employer {
    .Name {
    }
    .Role {
      .Title {
      }
      .Dates {
        margin: 0;
        padding: 0;
        sup {
          font-weight: bold;
          padding-left: 0.2rem;
        }
      }
      .Details {
        .Responsibilities {
          sup {
            font-weight: bold;
            padding-right: 0.2rem;
          }
        }
        .Notable {
        }
      }
    }
  }
}

@media (min-width: 576px) {
  .Experience {
    border-left: 4px solid #e63946;
    padding-left: 1.5rem;
    @media (prefers-color-scheme: dark) {
      border-left-color: #e6394655;
    }

    h3 {
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    .Employer {
      border-bottom: 1px solid #1d3557cc;
      margin-bottom: 1rem;
      padding-bottom: 0.5rem;

      .Role {
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23e63946' viewBox='0 0 16 16'%3E%3Cpath d='m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z'/%3E%3C/svg%3E");
        background-position: 0 5px;
        margin-left: -1.9rem;
        padding-left: 1.9rem;

        @media (prefers-color-scheme: dark) {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23e6394655' viewBox='0 0 16 16'%3E%3Cpath d='m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z'/%3E%3C/svg%3E");
        }

        .Title {
          font-weight: 200;
        }

        .Dates {
          font-style: italic;
          font-size: 90%;
        }

        .Responsibilities {
          p {
            margin: 0.5rem 0;
          }
        }
      }
    }

    .Employer:last-child {
      border-bottom: none;
    }
  }
}